<% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
<% end %>

<div class="page-header span9 offset3">
  <% if @staff_members.empty? %>
    <h1>No staff yet</h1>
  <% else %>
    <h1>Listing staff</h1>
  <% end %>
</div>
<% if !@staff_members.empty? %>
  <table class="table-striped table-condensed table-bordered">
   <thead>
    <tr>
      <th>Email</th>
      <th></th>
      <th></th>
    </tr>
   </thead>
   <tbody>
   <% @staff_members.each do |staff_member| %>
    <tr>
      <td><%= staff_member.email %></td>
      <td><%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_staff_member_path(staff_member) %></td>
      <td><%= link_to '<i class="icon-trash"></i>'.html_safe, staff_member, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
   <% end %>
   </tbody>
  </table>

<br>
<% end %>

<%= link_to 'New staff member', new_staff_member_path %>
