<div class="request well">
  <div class="correspondence-header">
   <% if is_admin_view? %>
    From: <%= r.requestor %><br>
   <% elsif r.is_requestor_name_visible %>
    From: <%= r.requestor.name %><br>
   <% end %>
   To: Brighton and Hove<br>
   Sent: <%= r.date_received_or_created.to_s(:short) %><br>
   Subject: <%= r.title %>
  </div>
  <hr>
  <div class="correspondence-body">
   <%= r.body %>
  </div>
  <% for attachment in @request.attachments %>
   <% if attachment.file? %>
    <%= link_to ('<i class="icon-download"></i> ' + attachment.filename).html_safe, attachment.file.url %> (<%= number_to_human_size(attachment.size, :precision => 2) %>)<br>
   <% end %>
  <% end %>

</div>
