<% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
<% end %>

<div class="row-fluid">
 <div class="span12">
  <h1>Listing requests</h1>
 </div>
</div>

 <div class="row-fluid">
  <div class="span12">

   <ul id="navlist" class="nav nav-pills">
    <li id="badge-all" <% if @badge == "all" %>class="active"<% end %>>
      <a href="/requests/"><span class='badge badge-warning'><%= Request.count %></span> Show all requests</a>
    </li>
    <li id="badge-overdue" <% if @badge == "overdue" %>class="active"<% end %>>
      <a href="/requests/overdue"><span class='badge badge-important'><%= Request.overdue.count %></span> Show overdue requests</a>
    </li>
   </ul>

    <div class="row-fluid">
     <div class="span12">
      <%= link_to 'New Request', new_request_path, :class => "btn" %>
     </div>
    </div>
    <table class="table-striped table-condensed table-bordered">
      <tr>
        <th>Date received</th>
        <th>Requestor</th>
        <th>Title</th>
        <th>Status</th>
        <th>Days until due</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @requests.each do |request| %>
      <tr>
        <td><%= request.date_received_or_created.to_s(:short) %></td>   
        <td><%= request.requestor %></td>
        <td><%= link_to request.title, request %></td>
        <td><span rel="tooltip" title="<%= request.state.description %>" class="state label"><%= request.state.title %></td>
        <td>
          <span class='badge <% if !request.days_until_due.nil? %><% if request.days_until_due < 5 %>badge-warning<% elsif request.days_until_due < 2 %>badge-important<% else %>badge-info<% end %><% end %>'> <% if !request.days_until_due.nil? %><%= request.days_until_due %><% else %>n/a<% end %></span>
        </td>

        <td><%= link_to 'Respond', new_response_request_path(request) %></td>
        <td><%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_request_path(request) %></td>
        <td><%= link_to '<i class="icon-trash"></i>'.html_safe, request, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
    </table>
    <div class="pagination pagination-centered">
      <%= will_paginate(@requests, :renderer => PaginationListLinkRenderer) %>
    </div>
  </div>
 </div>
</div>

