<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @request.title %>
</p>

<p>
  <b>State:</b>
  <%= @request.state.title %> (history: <%= @request.states.collect{|state| [state.title, state.created_at]} %>)
</p>

<p>
  <b>Requestor:</b>
  <%= @request.requestor %>
</p>


<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
