<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @request.title %>
</p>

<p>
  <b>Status:</b>
  <%= @request.status %>
</p>

<p>
  <b>Requestor:</b>
  <%= @request.requestor %>
</p>


<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
