<p id="notice"><%= notice %></p>
<div class="page-header">
  <h1><%= @request.title %></h1>
  <span rel="tooltip" title="<%= @request.state.description %>" class="state label"><%= @request.state.title %></span>

</div>

<% if @request.lgcs_term %>
  <div id="lgcs_term">
    <span><%= @request.lgcs_term %></span>
  </div>
<% end %>

<%= render :partial => "requests/show_request_part", :locals => {:r => @request} %>

<% for response in @request.responses %>
 <%= render :partial => "responses/show_response_part", :locals => {:r => response} %>
<% end %>

Reply:
<%= form_for([@request, Response.new]) do |f| %>
  <%= render :partial => "responses/reply_fields", :locals => {:response => f} %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
