<%= form_for([@response.request, @response]) do |f| %>
  <% if @response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
      <% @response.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%=  %>
  <div class="actions">
    <div class="field">
      <%= f.label :private_part %>
      <%= f.text_area :private_part, :cols => 80 %>
    </div>

    <div class="field">
      <%= f.label :public_part %>
      <%= f.text_area :public_part, :cols => 80 %>
    </div>
    
    <%= f.submit %>
  </div>
<% end %>
