<div class="row-fluid">
 <div class="span6">
  <div class="field alert alert-success public-response">
    <%= response.label :public_part %>
    <%= response.text_area :public_part  %>
    <%# existing attachments %>
     <% i = 0 %>
    <% if !@response.nil? %>
     <% @response.attachments.each_with_index do |attachment, i| %>
      <%= response.fields_for(:attachments, attachment) do |s| %>
      <%= s.object.file.url %>
       <div class="field">
         <%= s.label "Change attachment %d:" % [i+1] %>
         <%= s.file_field :file %>
         <%= s.check_box :remove_file %>
         <%= s.hidden_field :file_cache %>
       </div>
       <% end %>
     <% end %>
    <% end %>
    <%# extra ones %>
    <% for i in i+1..i+4 %>
      <%= response.fields_for(:attachments, Attachment.new) do |s| %>
       <div class="field">
         <%= s.label "Upload attachment %d:" % [i] %>
         <%= s.file_field :file %>
       </div>
       <% end %>
     <% end %>

  </div>

 </div>
 <div class="span6">
  <div class="field alert alert-error private-response">
    <%= response.label :private_part %>
    <%= response.text_area :private_part  %>
  </div>
 </div>
</div>

