 <div class="response well">
  <div class="correspondence-header">
   From: Brighton and Hove<br>
   To: <%= r.request.requestor %><br>
   Sent: <%= r.created_at.to_s(:short) %>
  </div>
  <hr>
  <div class="correspondence-body">
    <span class="label">Public part:</span><br>
    <%= r.public_part %><br>
    <% for attachment in r.attachments %>
     <% if attachment.file? %>
      <%= link_to ('<i class="icon-download"></i> ' + attachment.filename).html_safe, attachment.file.url %> (<%= number_to_human_size(attachment.size, :precision => 2) %>)<br>
     <% end %>
    <% end %>
  </div>
  <blockquote>
   <div class="alert alert-error private">
    <span class="label">Private notes (requestor cannot see):</span><br>
    <em><%= r.private_part %></em>
   </div>
  </blockquote>
  <%= link_to "Edit", url_for(:action => :edit, :request_id => r.request.id, :id => r.id, :controller => :responses) %>
 </div>
