<%# To include this as an iframe, do something like
<iframe src="http://foi.app.domain/requests" width="650" height="100%" style="border: 0px solid #fff"></iframe> 
%><!DOCTYPE html>
<html>
<head>
  <title>FoiRegister</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <% if !is_admin_view? %>
    <%= stylesheet_link_tag   "http://www.brighton-hove.gov.uk/web/sites/bhcc/css/main11.css", :media => "all" %>
    <style>
      a {
        color: #0000EE;
        text-decoration: underline;
      }
      a:visited {
        color: #551A8B;
      }
      a:active {
        color: #EE0000;
      }
      hr {
        border-color: #DFEEFF;
      }
    </style>
  <% end %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if is_admin_view? %>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand">Foi Manager</a>
          <ul class="nav">
            <li><%= link_to "Manage requests", "/admin/requests/" %></li>
            <li><%= link_to "Manage users", "/admin/requestors/" %></li>
          </ul>
        
          <%#
          <form class="navbar-search pull-left" action="">
            <input type="text" class="search-query span2" placeholder="Search">
          </form>
          %>
        
          <ul class="nav pull-right">
            <% if controller.current_staff_member.nil? %>
              <li><%= link_to "Log in", "/sessions/new" %></li>
            <% else %>
              <li><%= link_to "Log out", "/sessions/logout" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
  <% if is_admin_view? %>
   <div class="container">
    <%= yield %>
   </div>
  <% else %>
   <%= yield %>
  <% end %>
</body>
</html>
