<!DOCTYPE html>
<html>
<head>
  <title>FoiRegister</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
 <ul>
  <li><a href="/">Home</a></li>
  <li><%= link_to "Add new request", "/requests/new" %></li>
  <li><%= link_to "Show unassigned requests", "/requests/" %></li>
  <li><%= link_to "Show overdue requests", "/requests/" %></li>
  <li><%= link_to "Manage requests", "/requests/" %></li>
  <li><%= link_to "Manage users", "/requestors/" %></li>
 </ul>
</div>



<%= yield %>

</body>
</html>
